* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Nunito", sans-serif;
  overflow-y: hidden;
  -webkit-overflow-y: scroll !important;
  -moz-overflow-y: scroll !important;
  -o-overflow-y: scroll !important;
  -ms-overflow-y: scroll !important;
  overflow-x: hidden !important;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.purple-bg-color {
  background-color: #1e0930;
}

.orange-color {
  color: #eaa84f;
}

.orange-bg-color {
  background-color: #eaa84f;
}

::-webkit-scrollbar {
  display: none;
}

.dark_theme_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.dark_theme_header h1 {
  font-size: 46px;
  font-weight: 500;
  color: white;
  z-index: 3;
  text-transform: capitalize;
  margin-bottom: 4px;
}
.dark_theme_header h1 span {
  color: #eaa84f;
}
.dark_theme_header img {
  width: 300px;
  height: 20px;
  margin-bottom: 1em;
  z-index: 3;
}
.dark_theme_header h2 {
  font-size: 1.5rem !important;
  font-family: "Raleway", sans-serif !important;
  font-weight: 500 !important;
  text-transform: capitalize;
  letter-spacing: 0.05rem !important;
  word-spacing: 0px !important;
  line-height: 1.75rem !important;
  color: white;
  z-index: 3;
}

.leaf_shape {
  position: absolute;
  opacity: 0.25;
  filter: brightness(2.5);
  animation: move 3s linear infinite;
}

@keyframes move {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}
.back_img {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0.07;
  -o-object-fit: contain;
     object-fit: contain;
  z-index: -1;
}

.reverted_back_img {
  left: 0;
  transform: scaleX(-1);
}

.main_text {
  font-size: 1.25rem !important;
  font-family: "Raleway", sans-serif !important;
  font-weight: 500 !important;
  text-transform: capitalize;
  letter-spacing: 0.05rem !important;
  word-spacing: 0px !important;
  line-height: 1.75rem !important;
  word-break: break-word;
}

.sub_heading {
  font-size: 1.75rem !important;
  font-family: "Nunito", sans-serif !important;
  font-weight: 700 !important;
  letter-spacing: 0.02rem;
}

@media only screen and (max-width: 767px) {
  .dark_theme_header h1 {
    font-size: 40px;
  }
}
.intro {
  position: relative;
}
.intro .main {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
  z-index: 1;
}
.intro .main div {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
}
.intro .main div h1 {
  font-size: 80px;
  color: white;
  font-family: "Poppins", sans-serif;
  letter-spacing: 2px;
  text-shadow: 0px 0px 23px black;
}
.intro .main div h2 {
  font-size: 28px;
  font-family: "DM Sans", sans-serif;
  letter-spacing: 1px;
  text-shadow: 1px 1px 4px black;
  text-transform: capitalize;
}
.intro .main div button {
  background-color: transparent;
  padding: 10px 25px;
  border: solid 2px white;
  border-radius: 10px;
  box-shadow: 0px 0px 23px black;
  margin-top: 10px;
  font-family: "Kanit", sans-serif;
}
.intro .main div button a {
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  letter-spacing: 2px;
}
.intro .main div button:hover {
  background-color: #bc1256;
  border: solid 1px #bc1256;
  transition: 0.4s ease-out;
}
.intro .dark-background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: linear-gradient(to bottom, transparent 30%, #1e0930);
}
.intro .slider {
  position: relative;
  width: auto;
  min-height: 98vh !important;
  overflow: hidden;
}
.intro .slider .slide {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-clip-path: circle(0% at 0 50%);
          clip-path: circle(0% at 0 50%);
  z-index: -1;
}
.intro .slider .slide video {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  opacity: 0.7;
}
.intro .slider .slide.active {
  -webkit-clip-path: circle(150% at 0 50%);
          clip-path: circle(150% at 0 50%);
  transition: all 1s;
}
.intro .logo {
  position: absolute;
  top: 10px;
  left: 15px;
  display: flex;
  gap: 15px;
  align-items: center;
}
.intro .logo img {
  width: 25px;
  height: 25px;
}
.intro .logo p {
  color: white;
  font-size: 25px;
  text-shadow: 1px 1px 10px black;
}

.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 3;
  background-color: #1e0930;
  overflow-y: hidden;
}
.preloader img {
  max-width: 65px;
  height: auto;
  animation: loader_animate 3s infinite ease-in;
}

@keyframes loader_animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.why_company {
  font-family: "Nunito", sans-serif;
  padding: 4em 8em;
  display: flex;
  flex-direction: column;
  gap: 6em;
  position: relative;
}
.why_company .why_header {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-bottom: 20px;
}
.why_company .why_header h1 {
  font-size: 60px;
  color: #bc1256;
  font-weight: 600;
  letter-spacing: 3px;
}
.why_company .why_header h3 {
  text-transform: uppercase;
  font-size: 95px;
  position: absolute;
  top: 25px;
  line-height: 100%;
  font-weight: 600;
  opacity: 0.15 !important;
  color: #397383;
}
.why_company .features {
  display: flex;
  gap: 4em;
  justify-content: center;
  align-items: stretch;
}
.why_company .features .feature h1 {
  margin-bottom: 15px;
  color: #397383;
}
.why_company .features .feature_section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 2em;
}
.why_company .features .mobile_section {
  height: 80vh;
  width: 50%;
  position: relative;
}
.why_company .features .mobile_section .images {
  height: 100%;
  width: 100%;
}
.why_company .features .mobile_section .images div {
  border-radius: 40px;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  border: solid 20px black;
}
.why_company .features .mobile_section .images div img {
  -o-object-fit: contain;
     object-fit: contain;
}
.why_company .features .mobile_section .images div img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.starting {
  background-color: rgb(30, 9, 48) !important;
  padding: 1em 0em 8em 0em;
  position: relative;
}
.starting img {
  width: 600px;
  height: 600px;
}
.starting .leaf_shape_1 {
  left: 10px;
  bottom: 0;
}

.coming_soon {
  padding: 1em 0em;
}
.coming_soon .css2 img {
  max-width: none;
  height: 28px;
}

.connectivity {
  width: 100%;
  height: 100%;
  padding: 4em 8em;
  background-color: #1e0930;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 3em;
  position: relative;
}
.connectivity .model {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.connectivity .model :nth-child(1) {
  width: 220px;
  height: 220px;
}
.connectivity .model :nth-child(2) {
  width: 200px;
  height: 70px;
}
.connectivity .model :nth-child(3) {
  width: 250px;
  height: 250px;
}
.connectivity .model :nth-child(4) {
  width: 200px;
  height: 70px;
}
.connectivity .model :nth-child(5) {
  width: 220px;
  height: 220px;
}
.connectivity .model-label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.connectivity .model-label h1 {
  color: white;
  font-size: 42px;
  font-weight: 500;
}
.connectivity .model-label h1 span {
  color: #eaa84f;
}
.connectivity .leaf_shape_2 {
  top: 0;
  right: 0;
}
.connectivity .leaf_shape_3 {
  left: 0;
  bottom: 0;
}

.mission_vision_values {
  padding: 4em 8em;
  font-family: "Nunito", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 4em;
  position: relative;
}
.mission_vision_values .main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mission_vision_values .main .info {
  width: 50%;
  font-family: "Nunito", sans-serif;
  position: relative;
}
.mission_vision_values .main .info h1 {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 700;
  color: #bc1256;
}
.mission_vision_values .main .info h2 {
  color: #397383;
}
.mission_vision_values .main .info p {
  text-transform: uppercase;
  font-size: 95px;
  position: absolute;
  top: -40px;
  left: 0;
  line-height: 100%;
  font-weight: 600;
  opacity: 0.1 !important;
  color: #bc1256;
}
.mission_vision_values .main img {
  width: 500px;
  height: 500px;
}
.mission_vision_values .our_mission .mission_img {
  animation: mission_animate infinite 3s ease-in;
}
@keyframes mission_animate {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.1;
  }
  100% {
    scale: 1;
  }
}
.mission_vision_values .our_vision .vision_img {
  animation: vision_animate infinite 3s ease-in;
}
@keyframes vision_animate {
  0% {
    margin-left: 0px;
  }
  50% {
    margin-left: 40px;
  }
  100% {
    margin-left: 0px;
  }
}
.mission_vision_values .our_values .main {
  padding-top: 3em;
}
.mission_vision_values .our_values .main .info .values {
  font-size: 24px;
  font-weight: 500;
  margin-top: 1.5em;
}
.mission_vision_values .our_values .main .info .values li {
  display: flex;
  gap: 1em;
  margin-bottom: 1em;
}
.mission_vision_values .our_values .main .info .values li img {
  width: 25px;
  height: 25px;
}
.mission_vision_values .our_values .values_img {
  animation: values_animate infinite 3s ease-in;
}
@keyframes values_animate {
  0% {
    scale: 1;
  }
  50% {
    scale: 1.1;
  }
  100% {
    scale: 1;
  }
}

.what_we_provide {
  padding: 4em 8em;
  text-align: center;
  position: relative;
}
.what_we_provide .provide_main {
  display: flex;
  justify-content: space-around;
  gap: 5em;
  margin-top: 6em;
  color: white;
}
.what_we_provide .provide_main div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  width: 25%;
  z-index: 2;
  text-align: center;
}
.what_we_provide .provide_main div h3 {
  color: white;
}
.what_we_provide .provide_main div p {
  font-size: 20px;
}
.what_we_provide .provide_main img {
  width: 60px;
  height: 60px;
  transform: scale(1) rotate(0deg);
  transition: 0.5s ease;
}
.what_we_provide .provide_main div:hover {
  color: #eaa84f;
  cursor: pointer;
}
.what_we_provide .provide_main div:hover img {
  transform: scale(-1) rotate(180deg);
}
.what_we_provide .leaf_shape_4 {
  top: 0;
  left: 0;
}
.what_we_provide .leaf_shape_5 {
  right: 0;
  bottom: 0;
}

.about_us {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6em;
  font-family: "Nunito", sans-serif;
  position: relative;
  padding: 4em 8em;
}
.about_us .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  position: relative;
  z-index: 1;
}
.about_us .header h1 {
  font-size: 60px;
  color: #bc1256;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
}
.about_us .header h2 {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}
.about_us .header h3 {
  text-transform: uppercase;
  font-size: 95px;
  position: absolute;
  top: 15px;
  line-height: 100%;
  font-weight: 600;
  opacity: 0.15 !important;
  color: #397383;
  text-align: center;
}
.about_us .container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  min-height: 600px;
  z-index: 1;
}
.about_us .container .container_cards {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.about_us .container .container_cards ._card {
  width: 100%;
  max-width: 300px;
  min-width: 200px;
  height: 300px;
  background-color: #f5fefd !important;
  margin: 10px;
  border-radius: 15px;
  box-shadow: rgb(100, 100, 111) 0px 7px 29px 0px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.3s ease;
  z-index: 1;
}
.about_us .container .container_cards ._card .icon {
  margin: 0 auto;
  width: 100%;
  height: 80px;
  max-width: 80px;
  padding: 1em;
  background: linear-gradient(90deg, #bc1256 0%, #bc1256 40%, rgb(0, 0, 0) 60%);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: all 0.8s ease;
  background-position: 0px;
  background-size: 200px;
}
.about_us .container .container_cards ._card .icon img {
  width: 100%;
  height: 100%;
}
.about_us .container .container_cards ._card h2 {
  width: 100%;
  margin: 0;
  text-align: center;
  margin-top: 30px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 20px;
  color: #397383;
}
.about_us .container .container_cards ._card h1 {
  width: 80%;
  margin: 0 auto;
  font-size: 13px;
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  opacity: 0;
  max-height: 0;
  transition: all 0.3s ease;
  font-size: 40px;
  color: #bc1256;
}
.about_us .container .container_cards ._card:hover {
  height: 320px;
}
.about_us .container .container_cards ._card:hover h1 {
  transition: all 0.3s ease;
  opacity: 1;
  max-height: 40px;
}
.about_us .container .container_cards ._card:hover .icon {
  background-position: -120px;
  transition: all 0.3s ease;
}
.about_us .container .dining_img {
  border-radius: 20px;
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: 512px;
  -o-object-fit: cover;
     object-fit: cover;
}
.about_us .sign_up_button {
  z-index: 3;
}
.about_us .sign_up_button button {
  background-color: #bc1256;
  color: white;
  padding: 1rem 3rem;
  font-size: 1.5rem;
  border-radius: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  box-shadow: 5px 5px 21px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in;
  font-family: "Kanit", sans-serif;
}
.about_us .sign_up_button button:hover {
  background-color: #eaa84f;
  color: #bc1256;
}

.download_app {
  display: flex;
  align-items: center;
  padding: 4em 8em;
  position: relative;
  justify-content: space-between;
}
.download_app .app_desc {
  width: 50%;
  z-index: 2;
  position: relative;
}
.download_app .app_desc h1 {
  margin-bottom: 50px;
  font-size: 60px;
  color: #bc1256;
  font-weight: 600;
  font-family: "Nunito", sans-serif;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.download_app .app_desc h1 span {
  color: #bc1256;
}
.download_app .app_desc h2 {
  margin-bottom: 25px;
  color: #397383;
}
.download_app .app_desc h3 {
  margin-bottom: 60px;
  color: #397383;
}
.download_app .app_desc div {
  display: flex;
  gap: 1.5rem;
  flex-direction: row;
  width: 100%;
}
.download_app .app_desc div img {
  width: 150px;
  max-width: 50%;
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.3s ease-in;
}
.download_app .app_desc div img:hover {
  transform: scale(1.08);
}
.download_app .app_desc p {
  text-transform: uppercase;
  font-size: 75px;
  position: absolute;
  top: 0px;
  left: 0;
  line-height: 100%;
  font-weight: 500;
  opacity: 0.1 !important;
  color: #bc1256;
}
.download_app .mobile_mockup {
  z-index: 2;
  width: 50%;
  display: flex;
  flex-direction: column;
}
.download_app .mobile_mockup img {
  align-self: flex-end;
}

.contact_us {
  color: white;
  padding: 4em 8em;
  position: relative;
}
.contact_us .main {
  display: flex;
  justify-content: space-between;
  padding: 3em 0em;
  margin-top: 6em;
}
.contact_us .main .contact {
  width: 50%;
  z-index: 1;
}
.contact_us .main .contact .contact_item {
  display: flex;
  align-items: center;
  gap: 2em;
  margin-bottom: 7em;
  font-weight: 300;
}
.contact_us .main .contact .contact_item img {
  width: 25px;
}
.contact_us .main .map {
  width: 50%;
  z-index: 1;
}
.contact_us .main .map iframe {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
.contact_us .leaf_shape_6 {
  left: 0px;
  top: 0px;
}

.footer {
  background-color: #1e0930;
  color: white;
  display: flex;
  flex-direction: column;
}
.footer .footer-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2em;
  padding: 0em 0em;
}
.footer .footer-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em 8em;
}
.footer .footer-items .items {
  display: flex;
  gap: 2em;
}
.footer .footer-items .items a:hover {
  color: #eaa84f !important;
}
.footer img {
  width: 75px;
  height: 75px;
}
.footer a {
  margin-bottom: 20px;
  cursor: pointer;
}
.footer a:hover {
  color: #fabf34;
}

@media only screen and (max-width: 767px) {
  .intro .main div {
    padding: 5em 2em;
  }
  .intro .main div h1 {
    font-size: 60px;
  }
  .intro .main div button:hover {
    background-color: transparent;
    padding: 10px 25px;
    border: solid 2px white;
    border-radius: 10px;
    box-shadow: 0px 0px 23px black;
    margin-top: 10px;
  }
  .starting {
    padding: 3em 2em;
  }
  .starting div {
    flex-direction: column-reverse !important;
  }
  .starting div h1 {
    width: 100%;
    font-size: 24px;
    text-align: center;
  }
  .starting div img {
    margin-top: 0px !important;
    height: 350px;
    width: 350px;
  }
  .why_company {
    padding: 5em 2em;
    gap: 3em;
  }
  .why_company .features {
    flex-direction: column;
  }
  .why_company .features .feature_section {
    text-align: center;
  }
  .why_company .features .mobile_section {
    width: auto;
  }
  .connectivity {
    padding: 3em 2em;
  }
  .connectivity .model {
    display: none;
  }
  .connectivity .model-label {
    display: none;
  }
  .mission_vision_values {
    padding: 4em 2em;
    gap: 0em;
  }
  .mission_vision_values .main {
    flex-direction: column;
  }
  .mission_vision_values .main .info {
    width: 100%;
  }
  .mission_vision_values .main .info p {
    font-size: 53px;
    top: -23px;
  }
  .mission_vision_values .our_vision .main {
    flex-direction: column-reverse;
  }
  .what_we_provide {
    padding: 3em 2em;
  }
  .what_we_provide .provide_main {
    flex-direction: column;
  }
  .what_we_provide .provide_main div {
    width: 100%;
    gap: 1em;
    align-items: center;
    text-align: center;
  }
  .about_us {
    padding: 5em 2em;
  }
  .about_us .container .container_cards {
    flex-direction: column;
  }
  .about_us .container .container_cards ._card {
    height: 320px;
  }
  .about_us .container .container_cards ._card h1 {
    opacity: 1;
    max-height: 40px;
  }
  .about_us .container .dining_img {
    display: none;
  }
  .download_app {
    flex-direction: column-reverse;
    padding: 3em 2em;
  }
  .download_app .app_desc {
    width: 100%;
  }
  .download_app .app_desc h1 {
    font-size: 50px;
  }
  .download_app .app_desc p {
    font-size: 50px;
  }
  .download_app .background_img {
    display: none;
  }
  .download_app .mobile_mockup {
    width: 100%;
  }
  .contact_us {
    padding: 3em 2em;
  }
  .contact_us .main {
    flex-direction: column;
  }
  .contact_us .main .contact {
    width: 100%;
  }
  .contact_us .main .map {
    width: 100%;
    height: 400px;
  }
  .footer .footer-items {
    padding: 1em 2em;
  }
  .footer .footer-items .items {
    flex-direction: column;
    gap: 5px;
  }
}/*# sourceMappingURL=style.css.map */